/* CSS declarations go here */
div {
    display: block;
}

.dark-blue-font {
    color: #0177c1;
}

.dark-blue-bckgrnd {
    background-color: #000000;
}

.light-blue-font {
    color: #71c6f9;
}

.light-blue-bckgrnd {
    background-color: #71c6f9;
}

.blue-font {
    color: #0796db;
}

.blue-bckgrnd {
    background-color: #0796db;
}

.beige-font {
    color: #f1f4f0;
}

.beige-bckgrnd {
    background-color: #d2d7da;
}

.red-font {
    color: #f0494b;
}

.red-bckgrnd {
    background-color: #f0494b;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.nav-button {
    color: #f1f4f0;
    background-color:#f0494b;
    border-color: #f0494b;
    border: 2px solid #f0494b;
}

.nav-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav-link:hover {
    color: #4694be;
}

.navbar-brand:hover {
    color: #4694be;
}

.container-2 {
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
    margin-top: 10px;
}

#welcome {
    margin-top: 25px;
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
}

#login {
    margin-top: 75px;
}

hr {
    border-width: 2px;
    border-color: #b9bdc0;
}

.event {
    margin: 10px;
    border: 2px solid #b9bdc0;
    border-radius: 5px;
}

.event-btn {
    background-color: #4694be;
    color: #f1f4f0;
    border: 2px solid #4694be;
    margin: 10px;
    border-radius: 5px;
    padding: 6px 12px 6px 12px;
}

.search-btn {
    background-color: #4694be;
    color: #f1f4f0;
    border: 2px solid #4694be;
    margin: 10px;
    border-radius: 5px;
    padding: 6px 12px 6px 12px;
}

.event-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.3), 0 17px 50px 0 rgba(255, 255, 255, 0.3);
}

.new-event-btn {
    background-color: #4694be;
    color: #f1f4f0;
    border: 2px solid #4694be;
    margin: 5px;
}

.new-event-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tickets {
    margin-top: 75px;
}

.ticket {
    margin: 10px;
    border: 2px solid #b9bdc0;
    border-radius: 5px;
}

.event-img {
    padding: 20px;
}

.input-group {
    padding: 15px;
}

td.table-cell {
    background-color: #b9bdc0;
    border: 2px solid #ffffff;
    border-radius: 5px;
    max-width: 135px;
    max-height: 25px;
    overflow: scroll;
}

.bold-text {
    font-weight: bold;
}

#dollar {
    background-color: #4694be;
    color: #f1f4f0;
    border: 1px solid #6c757d;
}

#bid-border {
    border: 1px solid #6c757d;
}

.btn-close {
    background-color: #6c757d;
    color: #f1f4f0;
    padding: 6px 12px 6px 12px;
    border: 2px solid #6c757d;
    margin: 5px;
}

.btn-close:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.percentage {
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    font-size: 20px;
}

.nav-fade:hover {
    box-shadow: 0 12px 16px 0 rgba(70, 148, 190,0.24), 0 17px 50px 0 rgba(70, 148, 190,0.19);
}

.pagination-a {
    padding: 6px 12px 6px 12px;
    border-style: solid;
    border-color: #b9bdc0;
    border-width: 1px 1px 1px 1px;
    color: #4694be;
    margin: 1px;
    border-radius: 5px;
}

.pagination {
    margin-top: 16px;
}

.pagination-a:hover {
    background-color: #d2d7da;
    color: #4694be;
    text-decoration: none;
}

.active-a {
    background-color: #4694be;
    color: #ffffff;
}

.Dropdown-control {
    padding: 3px 50px 5px 10px;
}

h6 {
    padding: 7px;
}

.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }