/* CSS declarations go here */
/*Napoli Color Palette*/
div {
    display: block;
}

.dark-blue-font {
    color: #0177c1;
}

.dark-blue-bckgrnd {
    background-color: #0177c1;
}

.light-blue-font {
    color: #71c6f9;
}

.light-blue-bckgrnd {
    background-color: #71c6f9;
}

.blue-font {
    color: #0796db;
}

.blue-bckgrnd {
    background-color: #0796db;
}

.beige-font {
    color: #f1f4f0;
}

.beige-bckgrnd {
    background-color: #f1f4f0;
}

.red-font {
    color: #f0494b;
}

.red-bckgrnd {
    background-color: #f0494b;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.nav-button {
    color: #f0494b;
    background-color: #0177c1;
    border-color: #f0494b;
    border: 2px solid #f0494b;
}

.nav-button:hover {
    color: #0177c1;
    background-color:#f0494b;
}

.nav-link:hover {
    color: #f0494b;
}

.navbar-brand:hover {
    color: #f0494b;
}

.container {
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
    margin-top: 10px;
}

#welcome {
    margin-top: 15px; 
}

hr {
    border-width: 2px;
    border-color: #0796db;
}

.event {
    margin: 10px;
    border: 2px solid #0796db;
    border-radius: 5px;
}